footer
    background $azul
    padding $rem(20) 0
    .center
        display flex
        +mobile()
            flex-direction column
    .col
        border-left 1px solid $azulEscuro
        padding $rem(15) $rem(30)
        +mobile()
            border 0
            padding $rem(15) 0
        &.links
            +below($tablet)
                display none
            a
                display block
                montserrat 14 medium
                color #ffffff
                text-transform uppercase
                white-space nowrap
                &:hover
                    color #43f0e3
                + a
                    margin-top .5em
        &.informacoes
            padding-top 0
            img
                display block
                max-width 100%
                margin-bottom $rem(20)
            .telefones
                montserrat 18 medium
                color #fff
            .endereco
                opensans 14
                font-style italic
                color #fff
                margin .5em 0 0
        &.parceiro
            +below($tablet)
                display none
            color #fff
            max-width 380px
            h4
                montserrat 14 bold
                margin 0 0 .5em
            p
                opensans 14
                font-style italic
                margin 0 0 1em
            .telefones
                span
                    display block
                    opensans 12 bold
                    font-style italic
                    + span
                        margin-top 3px
        &.copyright
            margin-left auto
            +mobile()
                margin 0
            p
                opensans 9
                font-size 9px !important
                color #fff
                margin 0
                + p
                    margin-top 1em
                a
                    color inherit
                    &:hover
                        color #43f0e3
