header
    background #fff
    border-top 2px solid $azulEscuro
    position relative
    z-index 102
    .center
        border-bottom 2px solid #7AC8EB
        padding 15px 40px
        display flex
        vertical-align center
        justify-content space-between
        +below($tablet)
            padding 15px 0
    .logo
        display block
        background $img('marca-metaiscapixaba.png')
        background-size 100% auto
        width 120px
        height 62px
        text-indent -9999px
    #nav-desktop
        +below($tablet)
            display none
        display flex
        align-items center
        a
            montserrat 13 medium
            color $azulEscuro
            padding 12px 14px
            text-transform uppercase
            &.active
                background #EBEBEB
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        align-self stretch
        width 28px
        outline 0
        padding 0
        cursor pointer
        margin-left auto
        .lines
            display block
            width 100%
            height 4px
            background $azulEscuro
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $azulEscuro
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

header.home
    +above($tablet)
        background rgba(#fff, .85)
        position absolute
        top 0
        left 0
        width 100%
        border 0
        .center
            border 0
            padding-left 0
            padding-right 0
        .logo
            width 223px
            height 115px
        #nav-desktop a
            font-size $rem(16)

#nav-mobile
    display none
    +above($tablet)
        display none !important
    background #fff
    text-align right
    padding 20px 5%
    a
        display block
        montserrat 14 medium
        color $azulEscuro
        text-transform uppercase
        + a
            margin-top 5px
        &.active
            color #7AC8EB
