.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.main
    margin $rem(38) 0 $rem(80)
    h1
        montserrat 42 medium
        color #7AC8EB
        text-transform uppercase
        margin 0 0 .5em
        +mobile()
            font-size 24px
    h2
        montserrat 22 bold
        color $azulEscuro
        line-height 1.2
        margin 0
        +mobile()
            font-size 18px

.texto
    *:first-child
        margin-top 0
    *:last-child
        margin-bottom 0
    p
        opensans 16
    ul
        list-style none
        padding 0
        li
            position relative
            padding-left 1em
            opensans 16
            &:before
                content '\00b7'
                position absolute
                left 0
