desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:400,700&display=swap');

$azulClaro  = #C8E0EA
$azul       = #00608F
$azulEscuro = #005075

opensans($size, $weight = normal, $style = normal)
    font-size $rem($size)
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

montserrat($size, $weight = normal, $style = normal)
    font-size $rem($size)
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
    if $weight == medium
        font-weight 500
    if $weight == light
        font-weight 300
