.contato
    .center
        clearfix()
    .left
        width 350px
        float left
        .telefones
            margin $rem(50) 0
            span
                display flex
                align-items center
                montserrat 24 medium
                color $azulEscuro
                img
                    margin-right 10px
                + span
                    margin-top 5px
        .endereco
            margin 0
            opensans 16
            color $azulEscuro
    .right
        width 600px
        float right
        margin-top $rem(-38)
        img
            display block
            max-width 100%
            margin-bottom $rem(60)
        h2
            montserrat 28 medium
            color $azulEscuro
            margin 0 0 .45em
        .wrapper
            width 100%
            position relative
            .col
                input
                textarea
                    width calc('100% - 55px')
                    display block
                    margin-bottom 5px
                    border 0
                    background #EBEBEB
                    outline 0
                    padding 0 10px
                    opensans 16
                    color $azulEscuro
                input
                    height 40px
                textarea
                    height 160px
                    resize none
                    display block
                    padding 10px
            input[type=submit]
                position absolute
                height 160px
                width 50px
                background $img('icone-setaenviar.png') no-repeat center #7AC8EB
                bottom 0
                right 0
                outline 0
                border 0
                cursor pointer
                transition background .3s
                &:hover
                    background-color $azul
        .flash
            padding 15px
            border-radius 3px
            width calc('100% - 55px')
            text-align center
            text-transform uppercase
            montserrat 13 medium
            &.flash-success
                color #439c5f
                border 2px solid #439c5f
            &.flash-error
                color #bf5252
                border 2px solid #bf5252
    +below($tablet)
        .left
            width 100%
        .right
            width 100%
    +mobile()
        .telefones
            margin-top 20px !important
            span
                font-size 17px !important
        .right
            img
                margin-bottom 25px
            h2
                font-size 16px
            .wrapper
                .col
                    input
                    textarea
                        width 100%
                input[type=submit]
                    width 100%
                    height 50px
                    position relative
                    margin-bottom 5px
            .flash
                width 100%
