.empresa
    h3
        montserrat 16 bold
        color $azulEscuro
        margin 0 0 1em
    .linha-do-tempo
        display flex
        flex-wrap wrap
        margin 0 -5px
        .registro
            margin 0 2.5px 5px
            background #EBEBEB
            width calc('25% - 5px')
            position relative
            +mobile()
                width 100%
            img
                width 100%
                display block
            .imagem-full
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background-size cover
                background-position center
                z-index 2
            &.destaque
                width calc('50% - 5px')
                +mobile()
                    width 100%
            p.ano
                text-align center
                margin .5em 0
                padding 0 1em
                montserrat 28 medium
                color $azul
            p.descricao
                text-align center
                margin 0
                padding 0 1.5em 1.5em
                opensans 16
                line-height 1.5
    .certificacoes
        margin $rem(100) 0
        .certificacao
            display flex
            align-items center
            img
                margin 0 50px 0 90px
                +below($tablet)
                    margin-left 0
            div
                .titulo
                    montserrat 28 medium
                    color $azul
                    margin 0 0 .4em
                .descricao
                    opensans 16
                    margin 0
            + .certificacao
                margin-top $rem(35)
        +mobile()
            margin 20px 0
            .certificacao
                display block
                text-align center
                img
                    display block
                    margin 0 auto
                    max-width 100%
                div
                    .titulo
                        font-size 20px
                        margin .5em 0 .25em
                + .certificacao
                    margin-top 25px
    .textos
        display flex
        justify-content space-between
        > div
            width calc('50% - 2.5px')
            padding $rem(40)
        +mobile()
            display block
            margin-top 30px
            > div
                width 100%
                padding 20px
        .texto-1
            background $azul
            *:first-child
                margin-top 0
            p
            h3
                color #fff
            h3
                montserrat 22 medium
                margin 1.5em 0 .5em
        .texto-2
            background #EBEBEB
            color $azul
            .topico
                display flex
                align-items flex-start
                justify-content space-between
                div
                    width calc('100% - 110px')
                img
                    flex 0 0
                .titulo
                    montserrat 22 medium
                    text-transform uppercase
                    margin 0 0 .25em
                .descricao
                    margin 0
                + .topico
                    margin-top 25px
                +mobile()
                    display block
                    img
                        display block
                        margin-bottom 10px
                    div
                        width 100%

    .arquivos
        margin-top $rem(75)
        a
            display flex
            width 100%
            max-width $rem(660)
            margin 0 auto
            border 1px solid $azul
            padding $rem(25)
            align-items center
            transition background .3s
            &:hover
                background #eee
            + a
                margin-top 5px
            img
                flex 0 0
                margin-right 50px
            .titulo
                montserrat 22 medium
                color $azulEscuro
                text-transform uppercase
                margin 0
            .descricao
                opensans 16
                color $azulEscuro
                margin 1em 0
            .icone
                display block
                width 38px
                height 33px
                background $img('icone-download-nuvem.png') no-repeat center
        +mobile()
            margin-top 30px
            a
                display block
                text-align center
                img
                    margin 0 auto 5px
                .descricao
                    margin .5em 0
                span
                    display inline-block !important
