.fornecedor
    .fornecedor-content
        display flex
        justify-content space-between
        h2
            width 283px
        > img
            margin 0 20px
        .texto
            flex 1
            .frase
                margin-top 1.5em
            .telefones
                span
                    display flex
                    align-items center
                    montserrat 16 medium
                    + span
                        margin-top 7px
                    img
                        margin-right 10px
        +below($tablet)
            flex-direction column
            align-items flex-start
            > img
                margin 20px 0
                max-width 100%
            h2
                width 100%
