.home
    .banners
        width 100%
        height $rem(630)
        position relative
        +mobile()
            height 400px
        .slide
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-size cover
            background-position center
            .center
                width 100%
                height 100%
                display flex
                align-items center
                justify-content center
            .texto
                +above($tablet)
                    padding-top 135px
                text-align center
                montserrat 30 bold
                color #fff
                text-shadow 0 1px rgba(#000, .8)
                strong
                    font-size $rem(50)
                +mobile()
                    font-size 20px
                    strong
                        font-size 28px
    .abertura
        padding $rem(70) 0
        h3
            montserrat 24
            color $azulEscuro
            text-style italic
            margin 0 0 1.2em
            text-align center
        .imagens
            display flex
            justify-content center
            flex-wrap wrap
            img
                width 25%
                align-self flex-start
        +mobile()
            padding 30px 0
            h3
                font-size 18px
    .chamadas
        background $azulClaro
        padding $rem(40) 0
        +mobile()
            padding 25px 0
        .center
            display flex
            justify-content center
            flex-wrap wrap
            margin-bottom $rem(-30)
            +mobile()
                flex-direction column
                margin-bottom -20px
                align-items center
            a
            > div
                width 25%
                margin 0 $rem(15) $rem(30)
                position relative
                +tablet()
                    width 33.333%
                +mobile()
                    width 100%
                    max-width 300px
                    margin-left 0
                    margin-right 0
                    margin-bottom 20px
                img
                    width 100%
                    display block
                .overlay
                    position absolute
                    width 100%
                    bottom 0
                    background rgba(#53B8E5, .85)
                    padding 12px
                    color #fff
                    text-align center
                    transition background .3s
                    h4
                        opensans 22 bold
                        margin 0
                        font-style italic
                    p
                        opensans 14
                        font-style italic
                        margin .5em 0 0
            a:hover .overlay
                background $azulEscuro
    .sustentabilidade
        display block
        width 100%
        height $rem(400)
        background-size cover
        background-position center
        margin-bottom $rem(80)
        +mobile()
            height auto
            padding 40px 0
            margin-bottom 30px
        .center
            height 100%
            display flex
            align-items center
            position relative
            +mobile()
                display block
        .texto
            span:first-child
                display inline-block
                padding 10px 35px
                background #ffffff
                opensans 34 bold
                font-style italic
                margin 0 0 10px
                text-transform uppercase
                color #297A46
                box-shadow 0 1px 4px rgba(#000, .7)
                +mobile()
                    font-size 20px
                    padding 5px 20px
            span:last-child
                display block
                montserrat 50 light
                color #ffffff
                text-shadow 0 1px 4px rgba(#000, .7)
                font-style italic
                +mobile()
                    font-size 22px
                    font-weight 400
        .center > span
            position absolute
            left 0
            bottom 30px
            opensans 12 bold
            font-style italic
            color #fff
            +mobile()
                display block
                position relative
                bottom auto
                margin-top 15px
