.produtos
    .produtos-content
        display flex
        justfy-content space-between
        h2
            width 285px
        > .texto
            flex 1
            margin 0 20px
        .box
            width 425px
            background $azulEscuro
            padding $rem(20)
            color #fff
        +below($tablet)
            display block
            h2
            .box
                width 100%
            > .texto
                margin 1.5em 0
    .imagens
        background #EBEBEB
        margin-top $rem(100)
        padding $rem(40) 0
        .center
            display flex
            justify-content space-between
            img
                display block
            div
                display flex
                flex-direction column
                justify-content space-between
                margin 0 11px
        +below($tablet)
            margin-top $rem(40)
            .center
                flex-direction column
                justify-content center
                align-items center
                img
                    max-width 100%
                div
                    flex-direction column
                    margin 10px 0
                    img + img
                        margin-top 10px
