.qualidade
    .qualidade-content-1
        display flex
        justify-content flex-start
        h2
            width 283px
        .texto
            width 430px
            margin-left auto
        img
            margin-left 40px
        +below($tablet)
            flex-direction column
            align-items flex-start
            h2
            .texto
                width 100%
            .texto
                margin 20px 0
            img
                margin 0
                max-width 100%
    .qualidade-content-2
        margin-top $rem(50)
        display flex
        justify-content flex-end
        .texto
            width 430px
            margin-left 40px
        .imagens
            display flex
            width 430px
            img
                flex 0 1
                &:first-child
                    margin-right 5px
        +below($tablet)
            flex-direction column
            margin-top $rem(12)
            .texto
                width 100%
                margin 0
            .imagens
                width 100%
                max-width 430px
                justify-content space-between
                margin-bottom $rem(25)
                img
                    align-self flex-start
                    max-width 100%
                    width calc('50% - 5px')
    .arquivos
        background $azul
        margin-top $rem(60)
        padding $rem(40) $rem(40) $rem(5)
        display flex
        flex-wrap wrap
        align-items flex-start
        margin-bottom -35px
        > img
            margin-bottom 35px
        a
            position relative
            display block
            margin-left 35px
            margin-bottom 35px
            img
                width 100%
                display block
            &:after
                content ''
                width 50px
                height 50px
                position absolute
                bottom 0
                left 50%
                transform translateX(-50%)
                background $img('icone-download-nuvem.png') no-repeat center #fff
                border 1px solid #ddd
        +below($tablet)
            margin-top $rem(25)
            padding 20px 20px 0
            > img
                width 100%
                margin-bottom 20px
            a
                margin-left 20px
                margin-bottom 20px
        +tablet()
            a
                width calc('25% - 15px')
                &:nth-child(4n + 2)
                &:nth-child(2)
                    margin-left 0
        +mobile()
            a
                width calc('50% - 10px')
                &:nth-child(2)
                &:nth-child(2n + 2)
                    margin-left 0
