.sustentabilidade
    .sustentabilidade-content
        display flex
        justify-content space-between
        h2
            width 283px
        img
            margin 0 20px
        .texto
            flex 1
        +below($tablet)
            flex-direction column
            align-items flex-start
            img
                margin 20px 0
                max-width 100%
    .imagens
        margin-top $rem(30)
        .center
            display flex
            justify-content space-between
            +below($tablet)
                flex-direction column
                align-items center
                img
                    max-width 100%
                    + img
                        margin-top 10px
